.App {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	background-color: #e1daed;
}

h1 {
	padding-bottom: 10px;
	margin: 0;
}

.form-input {
	padding: 14px 32px 14px 16px;
	border-radius: 4px 0 0 4px;
	border: 2px solid #61b3d1;
	outline: none;
	background: transparent;
}

.form-button {
	padding: 16px 7px;
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	outline: none;
	background: linear-gradient(
		90deg,
		rgb(71, 232, 192) 10%,
		rgb(4, 0, 250) 100%
	);
	color: #fff;
	text-transform: capitalize;
}

.item-todo{
	padding: 16px;
	width: 255px;
	margin: 5px auto;
	text-align: left;
	margin-top: 15px;
	background: linear-gradient(
		90deg,
		rgb(88, 33, 227) 10%,
		rgb(216, 25, 230) 100%
	);
	color: #fff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.App .item-todo .item-text {
	display: inline-block;
	cursor: pointer;
}

.App .item-todo .item-delete {
	float: right;
}

.img-delete {
	width: 25%;
	left: 80px;
	bottom: 3px;
	cursor: pointer;
	position: relative;
}

.strike {
	text-decoration: line-through;
}